@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Roboto&display=swap');

.link {
  color: white
}

.hotel_image {
  height: 275px;
  width: 400px
}

form {
  color: white;
  font-family:'Oleo Script', cursive;
}

form.bill {
  color: black;
  font-family:'Oleo Script', cursive;
  }

#create {
  color: white;
  font-family:'Oleo Script', cursive;
}

.login-signup {
  font-family:'Roboto'
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app_name {
  font-family: 'Oleo Script', cursive;
  font-size: 500%;
  color: white

}

.title {
  background-image: url('https://i.pinimg.com/originals/b4/51/70/b451702eef24e2c33a90ebcf7c7e9eb8.jpg')
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
