@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');

.MuiPaper-rounded {
 padding: 20px;
 opacity: 0.5;
 width: 450px;
}

div.prevButton {
  position: relative;
  top: 650px;
  right: 900px
}

div.nextButton {
  position: relative;
  top: 650px;
  right: 350px
}

.MuiCard-root {
  opacity: .8;
}

.paperDiv {
  text-align: center;
}

.MuiFormControl {
  padding: 20px
}

.link {
  color: white;
}

.hotel_image {
  height: 275px;
  width: 400px;
}

form {
  color: white;
  font-family:'Oleo Script', cursive;
}

form.bill {
  color: black;
  font-family:'Oleo Script', cursive;
  }

div.create {
  color: black;
  font-family:'Oleo Script', cursive;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.login-signup {
  font-family:'Roboto';
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.app_name {
  padding: 35px;
  text-align: center; 
  font-family: 'Oleo Script', cursive;
  font-size: 200px;
  color: black;
}

.title {
  background-image: url('https://i.pinimg.com/originals/b4/51/70/b451702eef24e2c33a90ebcf7c7e9eb8.jpg');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
